<%= form_for(reporte) do |f| %>
  <% if reporte.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reporte.errors.count, "error") %> prohibited this reporte from being saved:</h2>

      <ul>
      <% reporte.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %>
    <%= f.text_field :nombre %>
  </div>

  <div class="field">
    <%= f.label :edad %>
    <%= f.text_field :edad %>
  </div>

  <div class="field">
    <%= f.label :sexo %>
    <%= f.text_field :sexo %>
  </div>

  <div class="field">
    <%= f.label :hora %>
    <%= f.date_select :hora %>
  </div>

  <div class="field">
    <%= f.label :rutaid %>
    <%= f.text_field :rutaid %>
  </div>

  <div class="field">
    <%= f.label :descripcion %>
    <%= f.text_field :descripcion %>
  </div>

  <div class="field">
    <%= f.label :userid %>
    <%= f.text_field :userid %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
