
    <div class="row">
  <div class="col-md-6 col-md-offset-3">
      <h1>Compartenos tu experiencia</h1>
<h3>Para compartir tu experiencia sobre el servicio
        -bueno o malo- que prestan las rutas urbanas
        y sus operadores es necesario expliques de
        forma detallada el suceso.</h3>
  </div>
         
    </div>
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
   

      </div>

    </div>

    <%= form_for(reporte) do |f| %>
  <% if reporte.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reporte.errors.count, "error") %> prohibited this reporte from being saved:</h2>

      <ul>
      <% reporte.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="form-group">
      <div class="input-group-lg">
    <!--<%= f.label :email %><br />-->
      <%= f.number_field :empresaid, autofocus: true, class: "form-control",placeholder: "Empresa"  %>
   
    </div>
  </div>


  <div class="field">
    <%= f.label :rutaid %>
    <%= f.number_field :rutaid %>
  </div>

  <div class="field">
    <%= f.label :comentario %>
    <%= f.text_area :comentario %>
  </div>

  <div class="field">
    <%= f.label :compartir %>
    <%= f.check_box :compartir %>
  </div>

  <div class="field">
    <%= f.label :redsocial %>
    <%= f.number_field :redsocial %>
  </div>

  <div class="field">
    <%= f.label :postred %>
    <%= f.text_area :postred %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
    

