<p id="notice"><%= notice %></p>

<p>
  <strong>Clave:</strong>
  <%= @redes_sociale.Clave %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @redes_sociale.Nombre %>
</p>

<%= link_to 'Edit', edit_redes_sociale_path(@redes_sociale) %> |
<%= link_to 'Back', redes_sociales_path %>
