<div class="jumbotron boxlogin">
    <center>
      <img src="images/logo_FB.svg" alt="Follow Bus Logo" heigt="100" width="130">
      <div class="pen-title">
        <h3>¡Bienvenido de vuelta!</h3>
      </div>
      <img src="images/imagen.svg" alt="Bus Logo" heigt="310" width="310">
    </center>
    <div class="pen-title">
      <h5>Selecciona como acceder</h5>
    </div>
    <div class="row">
      <div class="col-md-6">
        <button class="Facebook">Facebook</button>
      </div>
      <div class="col-md-6">
        <button class="Twitter">Twitter</button>
      </div>
    </div>
      <div class="cta"><a href="http:""">¿Olvidaste tu contraseña?</a></div>
  </br>
 
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>
  </div>