<%= form_for(incidencium) do |f| %>
  <% if incidencium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(incidencium.errors.count, "error") %> prohibited this incidencium from being saved:</h2>

      <ul>
      <% incidencium.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :EmpresaId %>
    <%= f.number_field :EmpresaId %>
  </div>

  <div class="field">
    <%= f.label :RutaId %>
    <%= f.number_field :RutaId %>
  </div>

  <div class="field">
    <%= f.label :Comentario %>
    <%= f.text_area :Comentario %>
  </div>

  <div class="field">
    <%= f.label :Compartir %>
    <%= f.check_box :Compartir %>
  </div>

  <div class="field">
    <%= f.label :RedSocial %>
    <%= f.number_field :RedSocial %>
  </div>

  <div class="field">
    <%= f.label :PostRed %>
    <%= f.text_area :PostRed %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
