<p id="notice"><%= notice %></p>

<h1>Incidencia</h1>

<table>
  <thead>
    <tr>
      <th>Empresaid</th>
      <th>Rutaid</th>
      <th>Comentario</th>
      <th>Compartir</th>
      <th>Redsocial</th>
      <th>Postred</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @incidencia.each do |incidencium| %>
      <tr>
        <td><%= incidencium.EmpresaId %></td>
        <td><%= incidencium.RutaId %></td>
        <td><%= incidencium.Comentario %></td>
        <td><%= incidencium.Compartir %></td>
        <td><%= incidencium.RedSocial %></td>
        <td><%= incidencium.PostRed %></td>
        <td><%= link_to 'Show', incidencium %></td>
        <td><%= link_to 'Edit', edit_incidencium_path(incidencium) %></td>
        <td><%= link_to 'Destroy', incidencium, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Incidencium', new_incidencium_path %>
