<p id="notice"><%= notice %></p>

<p>
  <strong>Empresaid:</strong>
  <%= @incidencium.EmpresaId %>
</p>

<p>
  <strong>Rutaid:</strong>
  <%= @incidencium.RutaId %>
</p>

<p>
  <strong>Comentario:</strong>
  <%= @incidencium.Comentario %>
</p>

<p>
  <strong>Compartir:</strong>
  <%= @incidencium.Compartir %>
</p>

<p>
  <strong>Redsocial:</strong>
  <%= @incidencium.RedSocial %>
</p>

<p>
  <strong>Postred:</strong>
  <%= @incidencium.PostRed %>
</p>

<%= link_to 'Edit', edit_incidencium_path(@incidencium) %> |
<%= link_to 'Back', incidencia_path %>
