

<div class="row">
  <div class="col-md-6 col-md-offset-3">
      <h1>¿Deseas dar a conocer tu suceso a la comunidad?</h1>
<h3>Arroba a las personas o autoridades para
                compartirles tu suceso.</h3>
               
  </div>

         
    </div>
    <br>
   
    <div class="row" style="background-image: url('/assets/MapBackground-4614ee0e5770e376ec6430f58b3290f663773baf688e6d91e67393ab0b02d3c6.png')";>
<br>
  
    <div class="col-md-6 col-md-offset-3">
      <div class="input-group">
        <input type="text" placeholder="Busqueda" name="name"  class="form-control">
        <span class="input-group-addon glyphicon glyphicon-search"></span>
      </div>
    </div>
  <br>
    <div class="col-md-6 col-md-offset-3">
   
  <%= form_for(post) do |f| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :userid, :value => current_user.id %>
  <%= f.hidden_field :reporteid, :value => params['reporte_id']%>
 <!-- <div class="row">
    <div class="col-md-12">
       <div class="form-group">
      <div class="input-group-lg">
 
      <%= f.text_field :reporteid, autofocus: true, class: "form-control",placeholder: "reporteid",:value => params['reporte_id']  %>
   
    </div>
  </div>
    </div>
  </div>
   -->

<!--<div class="row">

<div class="col-md-6">
  <div class="form-group">
      <div class="input-group-lg">
  
    <%= f.number_field :redsocial, autofocus: true, class: "form-control",placeholder: "redsocial" %>
   </div>
  </div>
  </div>
</div>
-->

    <div class= "row">
      <div class="col-md-12">
        <div class="Tweets">
          <div class="row">
            <div class="col-md-6 col-xs-6">
              <h3>@TransitoMTY</h3>
            </div>
            <div class="col-md-6 col-xs-6">
              <h3>@TransitoSanNico</h3>
            </div>
        
          </div>
          <div class="row">
            <div class="col-md-6 col-xs-6">
              <h3>@PoliciaRegia</h3>
            </div>
            <div class="col-md-6 col-xs-6">
              <h3>@AlcaldeMTY</h3>
            </div>
          
          </div>
               <div class="row">
            <div class="col-md-6 col-xs-6">
              <h3>@PoliciaRegia</h3>
            </div>
            <div class="col-md-6 col-xs-6">
              <h3>@AlcaldeMTY</h3>
            </div>
          
          </div>
    
      </div>
    </div>
  </div>

<br>
  <div class="form-group">
      <div class="input-group-lg">

    <%= f.text_area :comentario, autofocus: true, class: "form-control",placeholder: "comentario",rows:"6" %>
   </div>
  </div>
  <!--<div class="actions">
    <%= f.submit %>
  </div>-->
      <div class="row">
      <div class="col-md-10 col-md-offset-2 col-xs-10 col-xs-offset-2">
        
      <div class="row" id="selectable">
        <div class="col-md-2 col-xs-2">
       <!-- <button class="Siguiente">Siguiente paso</button>-->
      <!--  <button onclick="myFacebookLogin()">Login with Facebook</button>-->
            <%= image_tag("Face_inactivo.svg", :alt => "Facebook", class: "img-responsive fb-I") %>
           

        <!--<input  class="Cancelar" value="F">-->
          
        </div>
        <div class="col-md-2 col-xs-2"">
       <!-- <button class="Siguiente">Siguiente paso</button>-->
       <!--- <input  class="Cancelar" value="T">-->
        <%= image_tag("Twitter_inactivo.svg", :alt => "Facebook", class: "img-responsive") %>
          
        </div>
        <div class="col-md-2 col-xs-2"">
       <!-- <button class="Siguiente">Siguiente paso</button>-->
      <!--  <input  class="Cancelar" value="Y">-->
        <%= image_tag("Google_+.svg", :alt => "Facebook", class: "img-responsive") %>
          
        </div>
        <div class="col-md-2 col-xs-2"">
       <!-- <button class="Siguiente">Siguiente paso</button>-->
      <!--  <input  class="Cancelar" value="G">-->
        <%= image_tag("Pinterest.svg", :alt => "Facebook", class: "img-responsive") %>
          
        </div>
        <div class="col-md-2 col-xs-2"">
       <!-- <button class="Siguiente">Siguiente paso</button>-->
       <!-- <input  class="Cancelar" value="I">-->
        <%= image_tag("Youtube.svg", :alt => "Facebook", class: "img-responsive") %>

         </div> 
        </div>
       </div>
      </div>
    <div class="row">
        <div class="col-md-6">
       <!-- <button class="Siguiente">Siguiente paso</button>-->
        <input type="button" class="Cancelar" value="Saltar Paso">
          
        </div>

        <div class="col-md-6">

        <button id="btnfb" type="submit" class="btn Siguiente btn-lg">Compartir</button>
      <!-- <input type="submit" class="Siguiente" value="Compartir" disabled="disabled">-->
           <!--<button class="Cancelar">Cancelar</button>-->
        </div>
      </div>
<% end %>
  </div>
  </div>

    </div>


  <style>
  #feedback { font-size: 1.4em; }
  #selectable .ui-selecting { background: #92c9f4; }
  #selectable .ui-selected { background: #66afe9; color: white; }
  #selectable { list-style-type: none; margin: 0; padding: 0;}
  #selectable li { margin: 3px; padding: 0.4em; font-size: 1.4em; height: 18px; }
  </style>

 


 

