<p id="notice"><%= notice %></p>

<p>
  <strong>Clave:</strong>
  <%= @rutum.Clave %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @rutum.Nombre %>
</p>

<p>
  <strong>Tiporuta:</strong>
  <%= @rutum.TipoRuta %>
</p>

<p>
  <strong>Municipioinicio:</strong>
  <%= @rutum.MunicipioInicio %>
</p>

<p>
  <strong>Municipiofin:</strong>
  <%= @rutum.MunicipioFin %>
</p>

<%= link_to 'Edit', edit_rutum_path(@rutum) %> |
<%= link_to 'Back', ruta_path %>
